  <h1 class="text-center mt-4">Listing all the Articles</h1>
  <div class="container">
    <% @articles.each do |article| %>
      <%= render partial: 'article', locals: { article: article } %>
    <%end%>
  </div>
