<div class="container">
    <h1 class="text-center mt-4"></h1>
    <%= render partial: 'article', locals: { article: @article } %>
    <div class="d-flex justify-content-center">
        <%= link_to "[Return to articles list]", articles_path(), class:"text-info"%>
    </div>
</div>




