<% if @article.errors.any?%>
  <div class="row alert alert-danger alert-dismissible fade show pr-0" role="alert">

    <h4 class="alert-heading">The following errors prevent the article being sabed</h4>
        <ul>
            <% @article.errors.full_messages.each do |error| %>
                <li> 
                    <%= error %>
                </li>
                <% end %>
            </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

<% end %>